body{
	width: 100%;
	height: 100%;
	background:#68CDD5;
	padding: 0;
	margin: 0;

}
.top1{
	background-image: url("images/task3_03.png");
	background-repeat: no-repeat;
	width: 45px;
	height: 45px;
	background-size: 100%;
	position: absolute;
	left: 5px;
	top: 5px;
}
.top2{
	background-image: url("images/task3_07.png");
	background-repeat: no-repeat;
	height: 50px;
	width: 140px;
	background-size: 100%;
	margin: 0 auto; 
	margin-top: 20%;	
}
.top3{
	max-width: 100%;
	text-align: center;
	margin: 5%;
	
}
.top3 span{
	text-align: center;
	font-size: 0.8rem;
	color: #ffffff;
}
.top4{
	width: 50px;
	height: 50px;
	background-image: url("images/task3_11.png");
	background-repeat: no-repeat;
	background-size: 100%;
	border-radius: 50%;
	float: left;
	position: absolute;
	left: 15%;
	bottom: 15%;
}
.top5{
	width: 50px;
	height: 50px;
	background-image: url("images/o.png");
	background-repeat: no-repeat;
	background-size: 100%;
	border-radius: 50%;
	float: right;
	position: absolute;
	right: 15%;
	bottom: 15%;
	
}

 .top5_pp{
 	color: #ffffff;
 	position: absolute;
 	bottom: -40%;
 	left: -25%;
}
